.game {
    margin-top: 75px;
}

.tv {
    border: solid 5px black;
    border-radius: 5px;
    height: 250px;
    width: 400px;
    margin: auto;
}

.screen {
    border: solid 3px black;
    background-color: black;
    border-radius: 5px;
    height: 220px;
    width: 370px;
    margin: auto;
    margin-top: 15px;
}

.stand {
    border: solid 5px black;
    border-top: solid 1px black;
    height: 50px;
    width: 350px;
    margin: auto;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.stand button {
    border: solid 3px black;
    border-radius: 50%;
    height: 20px;
}

.controller {
    margin: auto;
    margin-top: 30px;
    border: solid 3px black;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controller button {
    margin: 10px;
    border: solid 3px black;
    border-radius: 50%;
    height: 20px;
}

@keyframes tvOff {
    0% { background-color: transparent; }
    100% { background-color: black; }
}

.animate-tv-off {
    animation-name: tvOff;
    animation-duration: 150ms;
    animation-fill-mode: forwards;
}