body {
    padding: 25px;
    background-color: #008ac5;
    color: white;
    font-size: 2em;
    font-weight: bold;
    display: grid;
    align-items: center;
    grid-template-columns: 10% 80% 10%;
}

h1, h2 {
    margin-top: 80px;
}

a {
    color: white;
}

a:hover {
    color: #D20014;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    background-color: #008ac5;
}

.animation-toggle {
    position: relative;
    top: 5px;
    left: 60%;
    border: solid 5px white;
    background-color: #008ac5;
    color: white;
    font-size: .6em;
    font-weight: bold;
    width: 250px;
    padding: 4px;
}

.content { 
    padding: 0 5px;
}

.skills {
    display: grid;
    grid-template-columns: 100%;
}

.profiles {
    display: flex;
    align-items: center;
    flex-direction: column;    
    text-align: center;
}

.profiles a {
    margin: 20px;
}

.game {
    height: 300px;
}

footer {
    font-size: 1em;
    text-align: center;
    margin-top: 80px;
}

.copyright {
    margin-top: 10px;
}

@keyframes scroll {
    0% { top: -500px; opacity: 100%; }
    70% { top: 50%; opacity: 0%; }
    100% { top: 60%; opacity: 0%; }
}

@media screen and (min-width: 1000px) {
    .profiles {
        justify-content: space-between;
        flex-direction: row;
    }

    .skills {
        grid-template-columns: 50% 50%; 
    }
}

@media screen and (max-width: 1499px) {
    div.text-scroll {
        display: none;
    }

    .animation-toggle {
        display: none;
    }
}

@media screen and (min-width: 1500px) {
    body {
        grid-template-columns: 30% 40% 30%;
    }

    .skills {
        grid-template-columns: 100%; 
    }

    div.text-scroll {
        position: absolute;
        animation-name: scroll;
        animation-timing-function: linear;
        writing-mode: vertical-lr;
        text-orientation: upright;
        height: max-content;
    }
}

@media screen and (min-width: 2000px) {
    .skills {
        grid-template-columns: 50% 50%; 
    }
}

@media screen and (min-width: 3200px) {
    .skills {
        grid-template-columns: 25% 25% 25% 25%; 
    }
}