body {
    max-width: 1000px;
    margin: auto;
    padding: 25px;
    background-color: #00a2e8;
    color: white;
    font-size: 2em;
}

a {
    color: white;
}

.profiles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width: 700px) {
    .profiles {
        justify-content: space-between;
        flex-direction: row;
    }
  }

.profiles a {
    margin: 20px;
}

.center {
    text-align: center;
}

footer {
    font-size: 1em;
}

.copyright {
    margin-top: 10px;
}

@keyframes scroll {
    0% { top: -10%; left: 15%; opacity: 100%;}
    70% { top: 70%; left: 15%; opacity: 0%;}
    100% { top: 70%; left: 15%; opacity: 0% ;}
}

div.textScroll {
    position: absolute;
    top: 0%; 
    left: 15%;
    animation-name: scroll;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    writing-mode: vertical-rl;
    text-orientation: upright;
}