body {
    max-width: 1000px;
    margin: auto;
    padding: 5px;
    background-color: #00a2e8;
    color: white;
    font-size: 2em;
}

a {
    color: white;
}

.profiles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width: 700px) {
    .profiles {
        justify-content: space-between;
        flex-direction: row;
    }
  }

.profiles a {
    margin: 20px;
}

.center {
    text-align: center;
}

footer {
    font-size: 1em;
}