.paused {
    animation-play-state: paused!important;
}

.marquee {
    animation: marquee 15s linear infinite
}

.marquee2 {
    animation: marquee2 15s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes marquee2 {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

.marqueeLeftToRight {
    animation: marqueeLeftToRight 15s linear infinite
}

.marqueeLeftToRight2 {
    animation: marqueeLeftToRight2 15s linear infinite;
}

@keyframes marqueeLeftToRight {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes marqueeLeftToRight2 {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}


